html, body, #root {
  height: 100%;
  font-family: 'Verdana';
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Background {
  background-color: #33334B;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MainColumn {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #33334B;
  border-left: 1px solid #909090;
  border-right: 1px solid #909090;
  padding: 12px 20px;
}

.ControlPanel {
  margin-bottom: 10px;
  color: #FFF;
}

.ControlPanelButton {
  margin-right: 10px;
}

.CurrentVolumesTitle {
  color:#FFF;
  margin: 0;
  padding: 0;
  align-self: flex-start;
}

.CurrentVolumes {
  /* background-color: #68ac34; */
  /* height: 200px; */
  display: flex;
  flex-direction: row;
  padding: 10px 10px 40px 10px;
}

.ImageBackground {
  width: 100px;
  height: 100px;
  background-color: #EEEEEE;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid transparent;
}

.Dissected {
  border: 3px solid yellow;
}

.CurrentVolumeImage {
  width: 100px;
  height: 100px;
}

.CurrentShapes {
  padding-bottom: 10px;
}

.DroppedShapes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.DroppedShape {
  margin-bottom: 20px;
  margin-top: 20px;
}

.LetterBackground {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CalloutLetter {
  font-size: 80px;
}